body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/cinema.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body,
html {
  height: 100%;
}

a {
  color: #00B7FF;
}

.intro {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: flex-start;
}

h1 {
  color: white;
  font-size: 100px;
}

.cinema-btn {
  background-color: white;
  width: 200px;
  height: 50px;
  text-align: center;
  border-radius: 20px
}